<?xml version="1.0" ?>
<robot name="simtech_workcell" xmlns:xacro="http://ros.org/wiki/xacro">
    <property name="pi" value="3.141592654"/>

    <link name="world"/>

    <!-- Robot -->
    <xacro:include filename="$(find simtech_workcell)/urdf/abb_robot.xacro"/>

    <joint name="abb_robot" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Robot table -->
    <xacro:include filename="$(find simtech_workcell)/urdf/irbp_a750.xacro"/>
    <joint name="irbp_a750" type="fixed">
        <parent link="world"/>
        <child link="irbp_a750/base_link"/>
        <!-- <origin xyz="1.753 0.015 -0.003" rpy="-0.005599 -0.005742 1.550718"/> -->
        <!-- Works for ABB 250 -->
        <!-- <origin xyz="-0.0625 -1.49743 -0.012" rpy="-0.005599 -0.005742 1.550718"/> -->
        <origin xyz="-0.3625 -1.49743 -0.012" rpy="-0.005599 -0.005742 -1.550718"/>
    </joint>

   
</robot>
