
<launch>
  <arg name="gui" default="true" />
  <arg name="sim" default="false" />
  
  <include file="$(find simtech_workcell)/launch/ABB_workcell.launch">
    <arg name="gui" value="false" />
    <arg name="sim" value="$(arg sim)" />
    <arg name="model" default="$(find microepsilon_workcell)/urdf/ABB_workcell.xacro" />
  </include>

  <include file="$(find microepsilon_scancontrol)/launch/scanner_driver.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find microepsilon_workcell)/config/workcell.rviz" required="true" if="$(arg gui)" />
    
</launch>