<?xml version="1.0" encoding="utf-8"?>
<launch>

    <!-- Start node without FT sensor -->
    <node name="simtech_kuka_rsi_hw_interface" pkg="simtech_kuka_rsi_hw_interface"
      type="simtech_kuka_rsi_hw_interface_node" respawn="false"
      output="screen"
      required="true"
      launch-prefix="nice -n -20"/>
      <!-- launch-prefix="nice -n -20" -->


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="publish_frequency" value="250" />
      <!-- <param name="rate" value="100" /> -->
  </node>

</launch>
